.popup-container {
    position: absolute;
    z-index: 9999;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.popup-container .item {
    color: black;
    text-align: start;
    list-style-type: none;
    cursor: pointer;
}

.popup-container .item:hover {
    background-color: #e4ffe2;
}
